<mat-form-field>
    <mat-label>Choose a team:</mat-label>
    <mat-select id="teamSelect">
        <mat-option *ngFor="let team of teamList" (click)="changeSelectedTeam(team)" [value]="team.full_name">
            {{team.full_name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<button mat-flat-button id="trackBtn" (click)="track()" color="primary">Track team</button>
<div class="flex">
    <div *ngFor="let tracked of trackedTeams" class="cardContainer">
        <app-team-card [team]="tracked" [trackedList]="trackedTeams"></app-team-card>
    </div>
</div>